doctype html
html 
  head
    title Prajwal Dance Academy
    block scripts 
    block style 
  body 
doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Web Site
  link(rel='stylesheet' href='../static/style.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Tangerine')
nav#navbar
  .logo
    img(src='/static/3.png' alt='')
  ul#navigation
    li
      a(href='/') Home
    li
      a(href='/') About
    li
      a(href='/') Services
    li
      a(href='/') Class Info
    li
      a(href='/contact') Contact us
    block content
    //- footer Copyright 2021 PrajwalDanceAcademy.com | All rights reserved