<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Site</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Tangerine">
  </head>
  
  <body>
    <nav id="navbar">
      <div class="logo"><img src="/static/3.png" alt=""></div>
      <ul id="navigation">
        
        <li><a href="/">Home</a></li>
        <li><a href="/">About</a></li>
        <li><a href="/">Services</a></li>
        <li><a href="/">Class Info</a></li>
        <li><a href="/">Contact us</a></li>
      </ul>
    </nav>
    <section id="introSection">Welcome to Prajwal's Dance academy 
    <div>Eat sleep Dance Repeat</div> 
    </section>
    <section id="msponsors"><h2>Our Mission</h2>
        <div class="card"> <p> <h3>Dance perfection</h3> </p>
        <div class="card-box"> <div class="card-img"><img src="/static/2.png" alt=""></div>  <div class="contents"><p>This is the best dance academy in the universe</p></div></div>
</div>
        <div class="card"><p><h3>Dance the way you like</h3></p><div class="card-box"> <div class="card-img"><img src="/static/1.png" alt=""></div>  <div class="contents"><p>This is the best dance academy in the universe</p></div></div></div>
        <div class="card"><p><h3>Exepert Teaching</h3></p><div class="card-box"> <div class="card-img"><img src="/static/4.png" alt=""></div>  <div class="contents"><p>This is the best dance academy in the universe</p></div></div></div>
</section>
    <section id="sponsors"><h2>Our Sponsors</h2><div id="spon"><img src="/static/logo1.png" alt="sponsor image" class="spimage"><div id="spon"><img src="/static/logo2.png" alt="sponsor image" class="spimage"><div id="spon"><img src="/static/logo3.png" alt="sponsor image" class="spimage"><div id="spon"><img src="/static/logo4.png" alt="sponsor image" class="spimage"></div></section>
    <footer>Copyright 2021 PrajwalDanceAcademy.com | All rights reserved</footer>
</body>
</html>
