doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Web Site
  link(rel='stylesheet' href='../static/style.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Tangerine')
nav#navbar
  .logo
    img(src='/static/3.png' alt='')
  ul#navigation
    li
      a(href='/') Home
    li
      a(href='/') About
    li
      a(href='/') Services
    li
      a(href='/') Class Info
    li
      a(href='/') Contact us
section#introSection
  | Welcome to Prajwal&apos;s Dance academy 
  div Eat sleep Dance Repeat
section#missionsponsors
  h2 Our Mission
  .card
    p  
    h3 Dance perfection
    p
    .card-box
      .card-img
        img(src='/static/2.png' alt='')
      .contents
        p This is the best dance academy in the universe
  .card
    p
    h3 Dance the way you like
    p
    .card-box
      .card-img
        img(src='/static/1.png' alt='')
      .contents
        p This is the best dance academy in the universe
  .card
    p
    h3 Exepert Teaching
    p
    .card-box
      .card-img
        img(src='/static/4.png' alt='')
      .contents
        p This is the best dance academy in the universe
section#sponsorsSection
  h2 Our Sponsors
  #sponsers
    div
      img.spImage(src='/static/logo1.png' alt='sponsor image')
    div
      img.spImage(src='/static/logo2.png' alt='sponsor image')
    div
      img.spImage(src='/static/logo3.png' alt='sponsor image')
    div
      img.spImage(src='/static/logo4.png' alt='sponsor image')
footer Copyright 2021 PrajwalDanceAcademy.com | All rights reserved
